body{
    margin: 0;
    padding: 0;
    background-color: rgb(46, 37, 35);
    position: relative;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;  
    background-color: rgb(83, 68, 68);
}
.navbar h2{
    color: rgb(255, 236, 236);
    
}
.navbar .btn1{
    display: flex;
    gap: 10px;
}
.navbar .btn1 button{
    background-color: rgb(255, 223, 223);
}

/* sidebar */

.sidebar{

    display: none;

    background-color: rgb(73, 56, 56);
    width:200px;
    height: 300px;
    position: absolute;
    right: 0;
    border-bottom: 4px solid rgb(131, 131, 131);
    border-left: 3px solid rgb(100, 100, 100);
}
.sidebar button{
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgb(255, 228, 216);
}
.sidebar .links{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebar .links a{
    font-size: 26px;
    color: rgb(255, 241, 241);
}
/* main */

.main{
    display: flex;
    margin: auto;
    width: 50%;
    text-align: center;
    flex-direction: column;
    gap: 25px;
}
.main p{
    font-weight: bold;
    font-size: 26px;
    color: rgb(255, 225, 225);
}
.main button{
    height: 50px;
    width: 50px;
    background-color: rgb(46, 21, 21);
}
.main i{
    color: rgb(255, 206, 206);
    font-size: 26px;
}